.index{
    color: white;

    background-color: rgb(85, 57, 57)
}


.menu-navegacao ul {


    display: flex;

    justify-content: space-around;

} 


.menu-navegacao ul li {

padding: 20px;


}

.sobre-nos{
    color: white;

    background-color: rgb(82, 1, 1);

}


.catalogo{

          color:rgb(127, 224, 224);

          background-color: rgb(82, 1, 1);
        
        
        }






