.home{
    color: white;

    background-color: rgb(85, 57, 57)
}


.navigation-menu ul {


    display: flex;

    justify-content: space-around;

} 


.navigation-menu ul li {

padding: 20px;


}

.about-us{
    color: white;

    background-color: rgb(82, 1, 1);

}


.catalog{

          color:rgb(19, 16, 3);

          background-color: #663d3d;
        
        
        }


        .div-menu{

            display:flex;
            align-items: center;
            justify-content: space-evenly;


    }


    .btn-menu{

        margin: 10px;
        transition: border-color 0.25s;
        margin-top: 4px;
        color:rgb(7, 7, 7);
        border-bottom: 3px solid transparent;
        font-size: 20px;



    }





    a:hover{

        background-color: rgb(255, 255, 255);
        border-color: rgb(78, 15, 15);
        cursor:pointer;


    }



    .product-title{

        text-align: center;

        font-family: arial black ;
        font-size: 50px;
    }


    .product-title1{

        text-align: start;

        font-family: arial;
        font-size:30px;



    }



    .catalog-banner{

        width: 105%; 
        height: 200px;
        object-fit: cover;
        object-position: 30%;

        
        }

        .catalog-footer{

            color:blueviolet;
            background-color: aquamarine;


        }






