.index{
    color: white;

    background-color: rgb(61, 9, 9);

}


.menu-navegacao ul {


    display: flex;

    justify-content: space-around;

} 


.menu-navegacao ul li {

padding: 20px;


}

.sobre-nos{
    color: white;

    background-color: rgb(199, 10, 236);

}


.menu-navegacao ul {


    display: flex;

    justify-content: space-around;

} 


.menu-navegacao ul li {

padding: 20px;


}


